.carts {
    display: flex;
    justify-content: space-between;

    margin-top: 35px !important;
    width: 75%;
    margin: 0 auto;
}
.myBags {
    width: 68%;

    padding: 25px 25px;
    background: #FFFFFF;
    color: #665656;
    box-shadow: 0 2px 38px 0 rgba(0, 0, 0, 0.05);
}
.shippingAddress {
    width: 30%;

    padding: 25px 25px;
    background: #FFFFFF;
    color: #665656;
    box-shadow: 0 2px 38px 0 rgba(0, 0, 0, 0.05);

    height:1%;
}
.bagHeader {
    font-size: 20px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 25px;    
}
.bag {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

    border-top: 1px solid #EEE;
}
.fa {
    color: #665656;
}
.bagImage {
    width: 24%;
}
.bagImage img {
    width: 100%;
}
.bagDescription {
    width: 68%;
}
.close {
    width: 6%;
}
.bagPrice {
    font-size: 16px;
    color: #2D2D2D;
    margin-bottom: 15px;
}
.bagTitle {
    margin-bottom: 15px;
    font-size: 16px;
}
.quantity {
    display: flex;
}
.quantityName,
.quantityNumber,
.changeQuantity {
    margin-right: 15px;
}
@media (max-width: 700px) {
	.carts {
        display: flex;
        flex-direction: column;
        width: 94%;
        margin: 0 auto;
    }
    .myBags {
        width: 100%;
        margin-bottom: 15px;
    }
    .shippingAddress {
        width: 100%;
    }
}
