.formGroup {
	margin-bottom: 15px;
}
.formControl {
	border: 1px solid #ccc;
    border-radius: 0;

    width: 100%;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px 15px;
}