.singleProduct {
	padding: 25px 25px;
	background: #FFFFFF;
	box-shadow: 0 2px 38px 0 rgba(0,0,0,0.05);

    color: #383232;
    margin-top: 35px !important;
}
.singleProductImage img {
    width: 100%;
}

.singleProductTitle {
    text-align: center;
    font-family: NexaBold;
    font-size: 36px;
    letter-spacing: 4.45px;

    margin-bottom: 25px;
}

.singleProductDescription {
    font-size: 12px;
    letter-spacing: 1.95px;

    margin-bottom: 25px;
}

.priceQuantity {
    display: flex;

    margin-bottom: 25px;
}
.price {
    margin-right: auto;
}
.priceHeader,
.quantityHeader {
    font-size: 10px;
    margin-bottom: 10px;
}
.amount {
    font-size: 16px;
}

.quantityCounter {
    display: flex;
}
.quantityDisplay,
.counter {
    width: 50%;
}
.quantityDisplay {
    padding: 6px 6px;
    text-align: center;
    background: #F0F0F0;
    border: 1px solid #979797;

    margin-right: 15px;
}

.addToCart .btn {
    background: #E86161;
    border: 1px solid #E86161;
    color: #FFFFFF;

    display: block;
    width: 100%;
}



@media (min-width: 700px) {
	.singleProduct {
		display: flex;
        flex-direction: row-reverse;
		width: 75%;
		margin: 0 auto; 
	}
	.singleProductImage,
	.singleProductDetails {
		width: 50%;
	}
	.singleProductTitle {
		text-align: left !important;
	}
}

@media (max-width: 700px) {
	.singleProduct {
		width: 94%;
		margin: 0 auto; 
	} 
}
