.modal {
	backgroundColor: rgba(0,0,0,0.7);
	position: absolute;
	z-index: 1000;
	width: 100% !important;
	height: 100% !important;
},
.body {
	width: 90% !important;
	margin: 0 auto !important;
	max-height: 90% !important;
	border-radius: 4 !important;

	background: #FFF;
}