.wrapper {
	background: #383232;
	padding: 25px 0;

}
.logo,
.bag {
	color: #FFF;
} 
.container {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 700px) {
	.container {
		width: 75%;
		margin: 0 auto; 
	} 
}
@media (max-width: 700px) {
	.container {
		width: 94%;
		margin: 0 auto; 
	} 
}
