.completeOrder {
	display: flex;
    justify-content: space-between;

    margin-top: 35px !important;
    width: 75%;
    margin: 0 auto;
}
.userInfo {
    width: 108%;
}
.basicInfo,
.shippingInfo {
    padding: 25px 25px;
    background: #FFFFFF;
    color: #665656;
    box-shadow: 0 2px 38px 0 rgba(0, 0, 0, 0.05);

    margin-bottom: 5px;
}

.title {
	font-size: 18px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}
.content {
	margin-top: 10px;
}
.content div {
	margin-bottom: 5px;
}
.placeOrder {
	margin-top: 15px;
}