.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 45px !important;
}
.product {
	width: 33%;
	margin-bottom: 15px;
}
.productImage img {
    width: 100%;
}
.productDescription {
	padding: 25px 25px;
}
.productTitle a {
	color: #665656 !important;
	font-size: 20px;
}
.productDescription {
    border: 1px solid #fff;
}
.productDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.productPrice {
    font-weight: bold;
    font-size: 20px;
}
@media (min-width: 700px) {
	.products {
		width: 75%;
		margin: 0 auto; 
	} 
}
@media (max-width: 700px) {
	.products {
		width: 94%;
		margin: 0 auto; 
	} 
}
