.signUpContainer {
	width: 40%;
	margin: 50px auto;
	
	background: #FFFFFF;
    padding: 55px 55px;
}
.signUp {
	text-align: center;
	font-size: 20px;
}
.signUpForm {
	margin-top: 25px;
}
.nameGroup {
    display: flex;
    justify-content: space-between;
}
.name {
    width: 45%;
}
.loginLink {
	display: block;
	margin-top: 10px;
	text-align: center;
}