/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** This will contain the site,s color variable and default styles */
@font-face {
  font-family: 'NexaBold';
  src: url("./assets/fonts/Nexa/NexaBold.otf");
  /* IE9 Compat Modes */
  src: url("./assets/fonts/Nexa/nexabold-webfont.woff2") format("woff2"), 
  	   url("./assets/fonts/Nexa/nexabold-webfont.woff") format("woff"), 
  	   url("./assets/fonts/Nexa/nexa_light-webfont.ttf") format("truetype"); }
@font-face {
  font-family: 'NexaLight';
  src: url("./assets/fonts/Nexa/NexaLight.otf");
  /* IE9 Compat Modes */
  src: url("./assets/fonts/Nexa/nexa_light-webfont.woff2") 
  		format("woff2"), url("./assets/fonts/Nexa/nexa_light-webfont.woff") format("woff"), url("./assets/fonts/Nexa/nexa_light-webfont.ttf") format("truetype"); }
html {
  box-sizing: border-box;
  color: #665656;
  background-color: #EEEEEE;
  font-family: 'NexaBold', 'NexaLight', sans-serif;
  font-size: 12px;
  letter-spacing: 0.39px; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none; 
}



.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: 25%; 
    border-radius: 4px;
}
.modal-header {
  text-align: center;
}
.modal-title {
  font-size: 18px;
  line-height: 21px;

  width: 50%;
  margin: 20px auto;
}
.modal-button {
  margin-bottom: 15px;
}
/*@media (min-width: 700px) {
	.container {
		width: 75%;
		margin: 0 auto; 
	} 
}
@media (max-width: 700px) {
	.container {
		width: 94%;
		margin: 0 auto; 
	} 
}
*/